<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>Mapa</title>
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.highcharts.com/maps/highmaps.js"></script>
	<script src="https://code.highcharts.com/maps/modules/data.js"></script>
	<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
	<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<script src="countries/mx/mx-all.js"></script>
	
</head>

<body>
	<div id="container" style="height: 600px; min-width: 310px; max-width: 1280px; margin: 0 auto"></div>
</body>

<script type="text/javascript">
	var values = [
	            ['mx-3622', 0],
	            ['mx-bc', 20],
	            ['mx-bs', 2],
	            ['mx-so', 3],
	            ['mx-cl', 4],
	            ['mx-na', 5],
	            ['mx-cm', 6],
	            ['mx-qr', 7],
	            ['mx-mx', 8],
	            ['mx-mo', 9],
	            ['mx-df', 10],
	            ['mx-qt', 11],
	            ['mx-tb', 12],
	            ['mx-cs', 13],
	            ['mx-nl', 14],
	            ['mx-si', 15],
	            ['mx-ch', 16],
	            ['mx-ve', 17],
	            ['mx-za', 18],
	            ['mx-ag', 19],
	            ['mx-ja', 20],
	            ['mx-mi', 21],
	            ['mx-oa', 22],
	            ['mx-pu', 23],
	            ['mx-gr', 24],
	            ['mx-tl', 25],
	            ['mx-tm', 26],
	            ['mx-co', 27],
	            ['mx-yu', 28],
	            ['mx-dg', 29],
	            ['mx-gj', 30],
	            ['mx-sl', 31],
	            ['mx-hg', 32],
	        ];
	//VALUES
	$(document).ready(function() {
	});
</script>
<script type="text/javascript" src="assets/js/dashboard/mapa.js?v=4"></script>

</html>


