<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html dir="ltr" style="background-color: rgb(0, 114, 198);">
<head>


    <meta https-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta https-equiv="Pragma" content="no-cache">
    <meta https-equiv="Expires" content="-1">
    <meta name="PageID" content="i5030.2.0">
    <meta name="SiteID" content="">
    <meta name="ReqLC" content="3082">
    <meta name="LocLC" content="es-ES">
    <meta name="mswebdialog-newwindowurl" content="*">

   

    <link rel="SHORTCUT ICON" href="httpss://secure.aadcdn.microsoftonline-p.com/ests/2.1.5482.3/content/images/favicon_a.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <link href="../assets/css/logout.css" rel="stylesheet">



    <style>
        .no_display {
            display: none;
        }
    </style>


    <link id="hovereffect" rel="stylesheet" type="text/css" href="../assets/css/login_hover.css" media="all">


    <style>
        body {
            display: none;
        }
    </style>

    <title>
        Acceso Denegado a la aplicación
    </title>
</head>
<body style="display: block;">
    <p id="accessibleError" class="accessibleError" style="display:none;" aria-live="assertive" aria-relevant="all" aria-atomic="true" role="alert" aria-hidden="true"></p>


    <div id="background_branding_container" class="ie_legacy" style="background: rgb(0, 114, 198) none repeat scroll 0% 0%;">
        <img id="background_background_image" alt="Inicie sesión con su cuenta profesional" style="width: 1098px; height: 659px; background-color: rgb(0, 114, 198); visibility: visible; display: block;" src="../assets/img/default_signin_illustration.png">
        velocidad.
    </div>

    </div>
    <div id="background_page_overlay" class="overlay ie_legacy" style="background-color: rgb(0, 114, 198); visibility: visible; display: none;" aria-hidden="true">
    </div>




    <noscript>
        <style>
            body {
                display: block;
            }
        </style>



        <div id="footer_links_container" class="login_footer_container">
            <div class="footer_inner_container">
                <div id="footer_table" class="footer_block">
                    <div class="corporate_footer">
                        <div>
                            <span class="footer_link text-caption" id="footer_copyright_link">
                                &#169; 2017 Microsoft
                            </span>
                        </div>
                        <div>
                            <span class="footer_link">
                                <a class="text-caption" id="footer_link_terms" href="httpss://www.microsoft.com/es-ES/servicesagreement/" target="_blank">T&#233;rminos de uso</a>
                            </span>
                            <span class="footer_link">
                                <a class="text-caption" id="footer_link_privacy" href="httpss://privacy.microsoft.com/es-ES/privacystatement" target="_blank">Privacidad y cookies</a>
                            </span>
                        </div>
                    </div>
                    <div class="footer_glyph">
                        <img src="assets/img/microsoft_logo.png" alt="S&#237;mbolo de la cuenta de Microsoft" />
                    </div>
                </div>
            </div>
        </div>
        <div id="login_prefetch_container" class="no-display">
        </div>

    </noscript>

    </div>
    <div id="login_panel" class="login_panel" style="display: block;">
        <div id="legal-section" class="legal_container">
            <div id="legal-content" class="legal-content normaltext"></div>
            <button id="legal-back-btn" class="legal-btn button normaltext">Atrás</button>
        </div>
        <table class="login_panel_layout" style="height: 100%;">
            <tbody>
                <tr class="login_panel_layout_row" style="height: 100%;">
                    <td id="login_panel_center">





                        <div class="login_inner_container">
                            <div id="true_inner" class="inner_container cred">
                                <div class="login_workload_logo_container"><h1 id="login_workload_logo_text" style="visibility: visible;" class="workload_img_text gianttext">Sorteo Anáhuac</h1></div>
                                <div class="spacer"></div>


                                <ul class="login_cred_container">
                                    <!-- From ViewTemplateBase/Tiles.cshtml -->
                                    <li id="login_user_chooser" class="login_user_chooser" style="display: block;">




                                        <div id="login_no_cookie_error_container" class="login_full_error_container" style="margin-top:-10px;">
                                            <div id="login_no_cookie_error_text" class="cta_text 1">

                                                <h1>No cuenta con privilegios para iniciar sesión en la aplicación</h1>
                                                <p>Pongase en contacto con el administrador del sistema.</p>
                                                
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                            <div class="push">
                            </div>
                        </div>


                        <div id="footer_links_container" class="login_footer_container">
                            <div class="footer_inner_container">
                                <div id="footer_table" class="footer_block">
                                    <div class="corporate_footer">
                                        <div>
                                            <span class="footer_link text-caption" id="footer_copyright_link">
                                                © 2017 Microsoft
                                            </span>
                                        </div>
                                        <div>
                                            <span class="footer_link">
                                                <a class="text-caption" id="footer_link_terms" href="httpss://www.microsoft.com/es-ES/servicesagreement/" target="_blank">Términos de uso</a>
                                            </span>
                                            <span class="footer_link">
                                                <a class="text-caption" id="footer_link_privacy" href="httpss://privacy.microsoft.com/es-ES/privacystatement" target="_blank">Privacidad y cookies</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="footer_glyph">
                                        <img src="../assets/img/microsoft_logo.png" alt="Símbolo de la cuenta de Microsoft">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="login_prefetch_container" class="no-display">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>