
<!-- 
<li class="dropdown">
                    <a href="javascript:;"
						data-toggle="dropdown" class="dropdown-toggle f-s-14"> <i
							class="fa fa-bell-o"></i> <span class="label">5</span>
					</a>
						<ul
							class="dropdown-menu media-list pull-right animated fadeInDown">
							<li class="dropdown-header">Notificaciones (5)</li>
							<li class="media"><a href="javascript:;">
									<div class="media-left">
										<i class="fa fa-bug media-object bg-red"></i>
									</div>
									<div class="media-body">
										<h6 class="media-heading">Universidad Anáhuac Mayab</h6>
										<p>Ok, Total boletos vendidos.</p>
										<div class="text-muted f-s-11">3 minutos ago</div>
									</div>
							</a></li>
							<li class="media"><a href="javascript:;">
									<div class="media-left">
										<img src="assets/img/user-1.jpg" class="media-object" alt="" />
									</div>
									<div class="media-body">
										<h6 class="media-heading">Juan Carlos Cuandon</h6>
										<p>Reporto boleto regresado.</p>
										<div class="text-muted f-s-11">25 minutos ago</div>
									</div>
							</a></li>
							<li class="media"><a href="javascript:;">
									<div class="media-left">
										<img src="assets/img/user-2.jpg" class="media-object" alt="" />
									</div>
									<div class="media-body">
										<h6 class="media-heading">Olivia Saldivar</h6>
										<p>Reporto boleto extraviado.</p>
										<div class="text-muted f-s-11">35 minutoss ago</div>
									</div>
							</a></li>
							<li class="media"><a href="javascript:;">
									<div class="media-left">
										<i class="fa fa-plus media-object bg-green"></i>
									</div>
									<div class="media-body">
										<h6 class="media-heading">Ismael Gonzales</h6>
										<p>Reasigno boletos.</p>
										<div class="text-muted f-s-11">1 hora ago</div>
									</div>
							</a></li>

							<li class="dropdown-footer text-center"><a
								href="javascript:;">Ver todas las notificaciones</a></li>
						</ul></li>
						 -->
						
						<li class="dropdown navbar-user"><a href="javascript:;"
						class="dropdown-toggle" data-toggle="dropdown"> <img
							src="assets/img/user-13.jpg" alt="" /> <span class="hidden-xs">#NOMBREUSUARIO#</span> <b class="caret"></b>
					</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="Profile">Editar Información</a></li>
							<!-- <li><a href="javascript:;"><span
									class="badge badge-danger pull-right">2</span>Avisos</a></li>-->
							<li><a href="Password">Cambiar Contraseña</a></li>
							<li class="divider"></li>
							<li><a href="Logout.do">Cerrar Sesión</a></li>
						</ul></li>