<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Sorteos Anáhuac | Red de Universidades Anáhuac</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	

	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="assets/css/animate.min.css" rel="stylesheet" />
	<link href="assets/css/style.min.css" rel="stylesheet" />
	<link href="assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="Dashboard.do" class="navbar-brand"><span class="navbar-logo"><img src="assets/img/logo_red.png" width="55" height="55"/></span> Anáhuac	</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->
				
				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					
					#NOTIFICACIONES#
					
				</ul>
				<!-- end header navigation right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->
		
		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						#INFOUSER#
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				#MENU#
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		
		<!-- begin #content -->
		<div class="content" id="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Sorteos:</a></li>
        
        
        <li class="dropdown navbar-user">
						<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;" aria-expanded="false">
							<span class="hidden-xs">Adam Schwartz</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<li><a href="javascript:;">Edit Profile</a></li>
							<li><a href="javascript:;">Inbox</a></li>
							<li><a href="javascript:;">Calendar</a></li>
							<li><a href="javascript:;">Setting</a></li>
							<li class="divider"></li>
							<li><a href="javascript:;">Log Out</a></li>
						</ul>
					</li>
        
        
        
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Asignar talonarios a Sectores</h1>
    <!-- end page-header -->
    
    <!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12">
            <div class="result-container">
                <div class="input-group m-b-20">
                    <input type="text" placeholder="Talonario a buscar..." id="searchtable" onkeyup="onkeyup_colfield_check(event)" class="form-control input-white">
                    <div class="input-group-btn">
                        <button class="btn btn-inverse" type="button"><i class="fa fa-search"></i> Buscar</button>

                    </div>
                </div>
                <div class="dropdown pull-left">
                   <a class="btn btn-primary m-r-5" href="javascript:void(0)" onClick="iniciaTalonarioSector()">Carga Inicial</a>
                    
                </div>
                
                
                <div class="btn-group m-l-10 m-b-20">
                    <a class="btn btn-white btn-white-without-border" href="javascript:;"><i class="fa fa-list"></i></a>
                    <a class="btn btn-white btn-white-without-border" href="javascript:;"><i class="fa fa-th"></i></a>
                    <a class="btn btn-white btn-white-without-border" href="javascript:;"><i class="fa fa-th-large"></i></a>
                </div>
                
                
                <div id="listresultados" style="min-height:300px;"  class="block">
                
                	
                </div>
                
            </div>
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
			<!-- end row -->
			
			
			
			
			             <!-- INICIO MODAL  -->
<div id="myModal" class="modal modal-message fade" style="display: none;" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
<h4 class="modal-title">Carga inicial de Talonarios y Boletos</h4>
</div>
<div class="modal-body">

<div id="instrucciones">
<p><strong>FC0; Formato de control 0</strong></p>
<p>Esta operación realizara un inventario inicial y carga del 100% de los boletos que se sortearán.</p><p> Se hara un movimiento contable de CARGO a la boveda.</p>
</div>


<div id="formato" style="display:none;">
 <form  class="form-horizontal" action="/" method="POST" id="formulario" name="formulario" data-parsley-validate="true">
                               
                                <fieldset>
                                
                          <legend>FC0; Formato de control 0  </legend>
                                
                        
                              
                         <div class="form-group">
                            <label class="col-md-3 control-label">Folio de formato:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="folio" name="folio" style="width: 150px" placeholder="" required>
                            </div>
                        </div>        
                                
                        <div class="form-group">
                            <label class="col-md-3 control-label">Numero sorteo:</label>
                            <div class="col-md-9">
                                <input type="text"   id="numsorteo" name="numsorteo"  class="form-control" style="width: 150px" placeholder="" required>
                            </div>
                        </div>
                    
                        
                        
                         <div class="form-group">
                            <label class="col-md-3   control-label">Datos de los talonarios completos</label>
                            
                        </div>
                        
                         <div class="form-group">
                            <label class="col-md-3 control-label">Numero de talonarios:</label>
                            <div class="col-md-9">
                            <select class="form-control" id="numtalonario" name="numtalonario" style="width:70px;" >
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                            <option value="60">60</option>
                            </select>
                               
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label class="col-md-3 control-label">Boletos de cada talonario:</label>
                            <div class="col-md-9">
                             <select id="boletostal" name="boletostal"  class="form-control" style="width:70px;">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            </select>
                               
                            </div>
                        </div>
                        
                        
                        <!--  
                        <div class="form-group">
                            <label class="col-md-3 control-label">Costo del Boleto:</label>
                            <div class="col-md-9">
                            <input type="text" name="costo" id="costo"> 
                            </div>
                        </div>
                        -->
                        
                        <div class="form-group">
                        <label class="col-md-3 control-label">Costo del Boleto:</label>
                        <div class="col-md-9">
                        <div class="input-group" style="width:180px;">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control name="costo" id="costo"" >
                                <span class="input-group-addon">.00</span>
                            </div>
                            </div>
                            
                         </div>
                        
                       </fieldset>
                    
                    </form>


</div>


<div id="formtalonarios" style="display:none;">

<fieldset>
<legend>Talonarios: (<span id="numtalonarios" style="font-weight:bold;"></span> - <span id="numtalonariosadd" style="font-weight:bold; color:blue;">0</span>)  Boletos de cada Talonario: <span id="numboletos" style="font-weight:bold;"></span></legend>

                        
                                  <div class="form-group">
                                        <label class="col-md-4 control-label" style="width:120px; margin-top:7px;">Talonario <span id="spannumtalonario" style="font-weight:bold; color:blue;">1</span>:</label>
                                        <div class="col-md-8" style="width:120px;">
                                           <input type="hidden" name="hnumtalonario" id="hnumtalonario">
                                           <input type="text"  id="barcodetalonario" name="barcodetalonario" onkeyup="onkeyup_talonario_check(event)"  class="form-control" style="width: 100px" placeholder="# Talonario" required>
                                        </div>
                                        <div class="col-md-8" style="width:100px;">
                                           <input type="button" class="btn btn-sm btn-primary" id="btntalonario" value="Agregar" />
                                        </div>
                                        
                                        <div id="colboletos" style="display:none;">
                                        <label class="col-md-4 control-label" style="width:120px; margin-top:7px;">Boleto <span id="numboleto" style="font-weight:bold; color:blue;">1</span> de <span id="totalnumboleto" style="font-weight:bold;">11</span>:</label>
                                              <div class="col-md-8" style="width:120px;">
                                           <input type="text"  id="barcodeboleto" name="barcodeboleto" onkeyup="onkeyup_boleto_check(event)"  class="form-control" style="width: 100px" placeholder="# Boleto" required>
                                        </div>
                                        <div class="col-md-8" style="width:100px;">
                                           <input type="button" class="btn btn-sm btn-primary" id="btnboleto" value="Agregar" />
                                        </div>
                                        
                                        </div>
                                        
                                    </div>
                                    

</fieldset>
</div>

                                    <div class="result-info" id="numboletosadd" style="display:none;">
                                    <legend><small>Boletos de Talonario:</small> </legend>
                                    <p id="btlnm"  class="location btlnm">
                                     
                                     </p>
                                    </div>
                                    
                                    
                                    
                                    <div class="jumbotron m-b-0 text-center" id="cargacompleta" style="display:none;">
                                            <h1>Talonarios y Boletos cargados Exitosamente!!</h1><br>
                                            <p>Se han agregado <span id="talonarioscomplete"> 1</span>  Talonarios y <span id="boletoscomplete"> 1</span> Boletos de cada Talonario, Total: <span id="totalboletoscomplete"> 1</span> Boletos, con numero de formato de control Folio: <span id="folioformato"> 1</span></p>
                                            <p><a href="javascript:void(0)" role="button" class="btn btn-success btn-lg">Proceder con nueva carga</a></p>
                                        </div>




</div>
<div class="modal-footer">
<a class="btn btn-sm btn-white" data-dismiss="modal" href="javascript:;">Cancelar</a>
<a class="btn btn-sm btn-primary" id="aceptarmodal" href="javascript:void(0)" onClick="mostrarFormato();">Siguiente</a>
</div>
</div>
</div>
</div>                
        <!-- FIN MODAL  -->
			
			
			
			
			
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
	<script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="assets/plugins/scannerbarcode/jquery.scannerdetection.js"></script>
	<script src="assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="assets/plugins/sparkline/jquery.sparkline.js"></script>
	<script src="assets/js/talonarios/talonarios-sectores.min.js"></script>
	<script src="assets/plugins/jqueryblockUI/jquery.blockUI.js"></script>
	
	
	<script src="assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
			Listar.init();
			
		});
	</script>
	
</body>
</html>